/* Google font family import */
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

/* Override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
}

/* General styles */
body {
    font-family: 'Sedgwick Ave Display';
    background-color: beige;
    min-height: 100vh;
    min-width: 100vw;
}


h1, h2, h3 {
    text-transform: uppercase;
    color: rgb(61, 59, 59);
    text-align: center;
}

button {
    font-size: 100%;
    font-weight: bold;
    border: none;
    padding: 5px;
    background-color: rgba(0, 255, 255, 0.8);
    border-radius: 12px;
    margin: 5px;
}

button > a {
    text-decoration: none;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Index page */
/* Header */
#header {
    height: 8vh;
    width: 100%;
    background: rgb(95, 13, 13);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
#header > img {
    height: 7vh;
    margin:0 1rem;
}

#header > h2 {
    font-si
}

/* Main section */
p {
    text-align: justify;
    margin: 10px;
}

ul {
    text-align: justify;
    margin: 0 10px 0 20px;
}

/* Footer */
footer {
    height: 7vh;
    width: 100%;
    background: rgb(95, 13, 13);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
}

footer > i {
    margin: 1rem;
    font-size: 200%;
    color:rgb(61, 59, 59);
}


/* Error pages */
#error-image {
    background-image: url("assets/images/construction.webp");
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
}

#h1-error {
    padding: 30px;
    font-size: 230%;
    color: red;
    font-weight: bolder;
    text-align: center;
}

#p-error {
    margin: 20%;
    font-size: 180%;
    font-weight: bold;
    text-align: center;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    /* General styling */
    h2 {
        margin-top: 10px;
        font-size: 200%;
    }
    
    h3 {
        font-size: 130%;
    }

    p {
        margin: 10px 20px;
        font-size: 130%;
    }

    ul {
        margin: 10px 30px;
        font-size: 130%;
    }

    .buttons {
        font-size: 150%;
        margin: 10px;
    }

    /* Index page */
    /* header */
    #header {
        height: 15vh;
    }

    main {
        padding-bottom: 12vh;
    }

    footer {
        height: 12vh;
        position: fixed;
        bottom: 0;
    }
}


/* Larger devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
/* General styling */
    h2 {
        margin-top: 15px;
        font-size: 300%;
    }
    
    h3 {
        font-size: 200%;
    }
    
    p {
        margin: 30px 30px;
        font-size: 180%;
    }
    
    ul {
        margin: 30px 40px;
        font-size: 180%;
    }
    
    .buttons {
        font-size: 210%;
    }
        
    /* Index page */
    /* header */
    #header {
        height: 15%;
    }
    
    /* Main */
    main {
        padding-bottom: 12vh;
    }
    
    /* Footer */
    footer {
        height: 5%;
    }
}
    

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px){
     /* Index page */
    #main {
        display: flex;
        flex-direction: row;
        margin: 20px;
    }
  
    #game-explanation, #game-rules {
        max-width: 45 %;
    }

    

 
}
