/* Google font family import */
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

/* Override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
}

/* General styles */
body {
    font-family: 'Sedgwick Ave Display';
    background-color: beige;
    min-height: 100vh;
    max-width: 100vw;
}

h1 {
    color: beige;
}

h2,
h3 {
    color: rgb(61, 59, 59);
}

h1,
h2,
h3 {
    text-transform: uppercase;
    text-align: center;
}

button {
    font-size: 100%;
    font-weight: bold;
    border: none;
    padding: 5px;
    background-color: rgba(0, 255, 255, 0.8);
    border-radius: 12px;
    margin: 5px;
}

button>a {
    text-decoration: none;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Index page */
/* Header */
#header {
    height: 8vh;
    width: 100%;
    background: rgb(95, 13, 13);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header>img {
    height: 7vh;
    margin: 0 1rem;
}

/* Main section */
p {
    text-align: justify;
    margin: 10px;
}

ul {
    text-align: justify;
    margin: 0 10px 0 20px;
}

main {
    margin-bottom: 60px;
}

/* Footer */
footer {
    height: 7vh;
    width: 100%;
    background: rgb(95, 13, 13);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
}

footer>i {
    margin: 1rem;
    font-size: 200%;
    color: beige;
}


/* Game page */
/* Timer */
.timer {
    margin-top: 25px;
    margin-left: 40%;
    font-size: 150%;
    color: red;
    background-color: #6d4ace;
}

/* Score area - inspired by Love Math project */
.score-area {
    margin: 5px auto;
    width: 80%;
    font-size: 120%;
    display: flex;
    flex-direction: row;
}

#correct {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

/* Card styling / flipping inspired by https://stackoverflow.com/questions/37604456/how-to-make-a-div-flip-on-button-press 
and https://jsbin.com/deqejekomu/edit?html,css,js,output*/
#grid {
    display: grid;
    grid-template-columns: auto auto;
}

.card {
    background-color: transparent;
    height: 40vw;
    perspective: 1000px;
    margin: 10px;
  }
  
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    
  }
  
  .card img {
    max-width: 40vw;
    height: auto;
  }

  .flipped, .flip-card-inner{
    transform: rotatey(180deg);
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .card-back {
    transform: rotateY(180deg);
  }

/* Comparison image - inspired by https://www.tutorialspoint.com/how-to-show-images-with-a-click-in-javascript-using-html */
#comp-image {
    width: 90vw;
    margin: 10px;
    display: none;
}


/* Error pages */
#error-image {
    background-image: url("assets/images/construction.webp");
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
}

#h1-error {
    padding: 30px;
    font-size: 230%;
    color: red;
    font-weight: bolder;
    text-align: center;
}

#p-error {
    margin: 20%;
    font-size: 180%;
    font-weight: bold;
    text-align: center;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    /* General styling */
    h2 {
        margin-top: 10px;
        font-size: 200%;
    }

    h3 {
        font-size: 130%;
    }

    p {
        margin: 10px 20px;
        font-size: 130%;
    }

    ul {
        margin: 10px 30px;
        font-size: 130%;
    }

    .buttons {
        font-size: 150%;
        margin: 10px;
    }

    /* Index page */
    /* header */
    #header {
        height: 15vh;
    }

    main {
        padding-bottom: 12vh;
    }

    footer {
        height: 12vh;
        bottom: 0;
    }

    /* Game page */
    /* Timer */
    .timer {
        margin-top: 30px;
        margin-left: 45%;
        font-size: 250%;
    }
}


/* Larger devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    /* General styling */
    h2 {
        margin-top: 15px;
        font-size: 300%;
    }

    h3 {
        font-size: 200%;
    }

    p {
        margin: 30px 30px;
        font-size: 180%;
    }

    ul {
        margin: 30px 40px;
        font-size: 180%;
    }

    .buttons {
        font-size: 210%;
    }

    /* Index page */
    /* header */
    #header {
        height: 15%;
    }

    /* Main */
    main {
        padding-bottom: 3vh;
    }

    /* Footer */
    footer {
        height: 5%;
    }

    /* Game page */
    /* Card styling */
    #grid {
        grid-template-columns: auto auto auto;
    }

    .card {
        height: 30vw;
    }

    .card img {
        max-width: 30vw;
        height: auto;
        
    }

    /* Timer */
    .timer {
        margin-top: 35px;
        font-size: 280%;
    }
}


/* Large devices (laptops, 992px and up) */
@media screen and (min-width: 992px) {
    /* Index page */
    #main {
        display: flex;
        flex-direction: row;
        margin: 20px;
    }

    /* Inspired by https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Controlling_ratios_of_flex_items_along_the_main_axis */
    #main > * {
        flex: auto;
      }

    /* Game page */
    /* Timer */
    .timer {
        margin-top: 38px;
        font-size: 300%;
    }
}

/* Large devices (desktop, 1200px and up) */
@media screen and (min-width: 1200px) {
 /* Game page */
    /* Card styling */
    .game {
        display: flex;
    }

    #grid {
        width: 48vw;
        margin: auto;
    }

    .card {
        height: 15vw;
    }

    .card img {
        max-width: 15vw;
        height: auto;
    }
   
    /* Comparison image */
   #comp-image {
        display: block;
        width: 48vw;
        margin-left: auto;
        margin-right: auto;
   }

    /* Timer */
    .timer {
        margin-top: 38px;
        font-size: 300%;
    }

    /* Score */
    .score-area {
        font-size: 180%;
    }

    .scores {
        display: block;
        width: 48vw;
        margin-left: auto;
        margin-right: auto;
    }
}